<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>清蒸藕丸</string>
		<key>img</key>
		<string>http://s1.cdn.jiaonizuocai.com/caipu/201510/0400/040005054476.jpg/OTAweDYwMA</string>
		<key>favorites</key>
		<string>27</string>
		<key>appurl</key>
		<string>dishInfo.app?code=78366188</string>
		<key>all_click</key>
		<string>675</string>
	</dict>
	<dict>
		<key>name</key>
		<string>红烧带鱼</string>
		<key>img</key>
		<string>http://s1.cdn.jiaonizuocai.com/caipu/201510/0410/041009496633.jpg/OTAweDYwMA</string>
		<key>favorites</key>
		<string>142</string>
		<key>appurl</key>
		<string>ishInfo.app?code=78367952</string>
		<key>all_click</key>
		<string>1744</string>
	</dict>
	<dict>
		<key>name</key>
		<string>红糖桂圆红枣曲奇</string>
		<key>img</key>
		<string>http://s1.cdn.jiaonizuocai.com/caipu/201510/0419/04191418754.jpg/OTAweDYwMA</string>
		<key>favorites</key>
		<string>41</string>
		<key>appurl</key>
		<string>dishInfo.app?code=78377762</string>
		<key>all_click</key>
		<string>897</string>
	</dict>
	<dict>
		<key>name</key>
		<string>排骨蒸豆腐</string>
		<key>img</key>
		<string>http://s1.cdn.jiaonizuocai.com/caipu/201510/0421/042114481015.jpg/OTAweDYwMA</string>
		<key>favorites</key>
		<string>18</string>
		<key>appurl</key>
		<string>dishInfo.app?code=78380876</string>
		<key>all_click</key>
		<string>578</string>
	</dict>
	<dict>
		<key>name</key>
		<string>太阳下的兔子</string>
		<key>img</key>
		<string>http://s1.cdn.jiaonizuocai.com/caipu/201603/1316/131612167214.jpg/OTAweDYwMA</string>
		<key>favorites</key>
		<string>40</string>
		<key>appurl</key>
		<string>dishInfo.app?code=78383730</string>
		<key>all_click</key>
		<string>686</string>
	</dict>
	<dict>
		<key>name</key>
		<string>油焖大虾</string>
		<key>img</key>
		<string>http://s1.cdn.jiaonizuocai.com/caipu/201510/0508/050831409226.jpg/OTAweDYwMA</string>
		<key>favorites</key>
		<string>148</string>
		<key>appurl</key>
		<string>dishInfo.app?code=78384538</string>
		<key>all_click</key>
		<string>1985</string>
	</dict>
	<dict>
		<key>name</key>
		<string>炸金条</string>
		<key>img</key>
		<string>http://s1.cdn.jiaonizuocai.com/caipu/201510/0513/051341597406.jpg/OTAweDYwMA</string>
		<key>favorites</key>
		<string>2057</string>
		<key>appurl</key>
		<string>dishInfo.app?code=78389476</string>
		<key>all_click</key>
		<string>20500</string>
	</dict>
	<dict>
		<key>name</key>
		<string>双椒炒磨芋</string>
		<key>img</key>
		<string>http://s1.cdn.jiaonizuocai.com/caipu/201510/0521/052130332736.jpg/OTAweDYwMA</string>
		<key>favorites</key>
		<string>15</string>
		<key>appurl</key>
		<string>dishInfo.app?code=78397876</string>
		<key>all_click</key>
		<string>613</string>
	</dict>
	<dict>
		<key>name</key>
		<string>蘑菇炒肉</string>
		<key>img</key>
		<string>http://s1.cdn.jiaonizuocai.com/caipu/201510/0521/052151263303.jpg/OTAweDYwMA</string>
		<key>favorites</key>
		<string>165</string>
		<key>appurl</key>
		<string>dishInfo.app?code=78398230</string>
		<key>all_click</key>
		<string>13199</string>
	</dict>
	<dict>
		<key>name</key>
		<string>香菇瘦肉粥</string>
		<key>img</key>
		<string>http://s1.cdn.jiaonizuocai.com/caipu/201510/0610/061021474110.jpg/OTAweDYwMA</string>
		<key>favorites</key>
		<string>1596</string>
		<key>appurl</key>
		<string>dishInfo.app?code=78402976&quot;</string>
		<key>all_click</key>
		<string>15069</string>
	</dict>
	<dict>
		<key>name</key>
		<string>素三鲜水饺</string>
		<key>img</key>
		<string>http://s1.cdn.jiaonizuocai.com/caipu/201510/0617/061752264751.jpg/OTAweDYwMA</string>
		<key>favorites</key>
		<string>135</string>
		<key>appurl</key>
		<string>dishInfo.app?code=78409052</string>
		<key>all_click</key>
		<string>1552</string>
	</dict>
	<dict>
		<key>name</key>
		<string>菊花馒头</string>
		<key>img</key>
		<string>http://s1.cdn.jiaonizuocai.com/caipu/201604/1613/161308434516.jpg/OTAweDYwMA</string>
		<key>favorites</key>
		<string>45</string>
		<key>appurl</key>
		<string>dishInfo.app?code=78413076</string>
		<key>all_click</key>
		<string>1729</string>
	</dict>
	<dict>
		<key>name</key>
		<string>板栗烧鸡</string>
		<key>img</key>
		<string>http://s1.cdn.jiaonizuocai.com/caipu/201510/0713/071314159751.jpg/OTAweDYwMA</string>
		<key>favorites</key>
		<string>64</string>
		<key>appurl</key>
		<string>dishInfo.app?code=78421916</string>
		<key>all_click</key>
		<string>3703</string>
	</dict>
	<dict>
		<key>name</key>
		<string>菠菜豆皮卷</string>
		<key>img</key>
		<string>http://s1.cdn.jiaonizuocai.com/caipu/201510/0715/071530435965.jpg/OTAweDYwMA</string>
		<key>favorites</key>
		<string>21</string>
		<key>appurl</key>
		<string>dishInfo.app?code=78425108</string>
		<key>all_click</key>
		<string>717</string>
	</dict>
	<dict>
		<key>name</key>
		<string>西兰花苹果树</string>
		<key>img</key>
		<string>http://s1.cdn.jiaonizuocai.com/caipu/201510/0717/071722214373.jpg/OTAweDYwMA</string>
		<key>favorites</key>
		<string>1409</string>
		<key>appurl</key>
		<string>dishInfo.app?code=78427476</string>
		<key>all_click</key>
		<string>8154</string>
	</dict>
	<dict>
		<key>name</key>
		<string>糯米红薯饼</string>
		<key>img</key>
		<string>http://s1.cdn.jiaonizuocai.com/caipu/201510/0719/071947142968.jpg/OTAweDYwMA</string>
		<key>favorites</key>
		<string>42</string>
		<key>appurl</key>
		<string>dishInfo.app?code=78431376</string>
		<key>all_click</key>
		<string>1053</string>
	</dict>
	<dict>
		<key>name</key>
		<string>蛋包饭</string>
		<key>img</key>
		<string>http://s1.cdn.jiaonizuocai.com/caipu/201510/0722/072241202448.jpg/OTAweDYwMA</string>
		<key>favorites</key>
		<string>157</string>
		<key>appurl</key>
		<string>dishInfo.app?code=78434652</string>
		<key>all_click</key>
		<string>983</string>
	</dict>
	<dict>
		<key>name</key>
		<string>啤酒鸡</string>
		<key>img</key>
		<string>http://s1.cdn.jiaonizuocai.com/caipu/201604/1210/121054142872.jpg/OTAweDYwMA</string>
		<key>favorites</key>
		<string>332</string>
		<key>appurl</key>
		<string>dishInfo.app?code=78435258</string>
		<key>all_click</key>
		<string>11417</string>
	</dict>
	<dict>
		<key>name</key>
		<string>酥皮月饼</string>
		<key>img</key>
		<string>http://s1.cdn.jiaonizuocai.com/caipu/201510/0809/080905313498.jpg/OTAweDYwMA&quot;</string>
		<key>favorites</key>
		<string>149</string>
		<key>appurl</key>
		<string>dishInfo.app?code=78436816&quot;</string>
		<key>all_click</key>
		<string>8342</string>
	</dict>
	<dict>
		<key>name</key>
		<string>什锦蛋炒饭</string>
		<key>img</key>
		<string>http://s1.cdn.jiaonizuocai.com/caipu/201510/0810/081017052461.jpg/OTAweDYwMA</string>
		<key>favorites</key>
		<string>158</string>
		<key>appurl</key>
		<string>dishInfo.app?code=78437658</string>
		<key>all_click</key>
		<string>1394</string>
	</dict>
	<dict>
		<key>name</key>
		<string>香脆烤虾</string>
		<key>img</key>
		<string>http://s1.cdn.jiaonizuocai.com/caipu/201510/0821/082114559659.jpg/OTAweDYwMA</string>
		<key>favorites</key>
		<string>458</string>
		<key>appurl</key>
		<string>dishInfo.app?code=78446633</string>
		<key>all_click</key>
		<string>2522</string>
	</dict>
	<dict>
		<key>name</key>
		<string>土豆煎饼</string>
		<key>img</key>
		<string>http://s1.cdn.jiaonizuocai.com/caipu/201510/0916/091628253106.jpg/OTAweDYwMA</string>
		<key>favorites</key>
		<string>25</string>
		<key>appurl</key>
		<string>dishInfo.app?code=78454309</string>
		<key>all_click</key>
		<string>953</string>
	</dict>
	<dict>
		<key>name</key>
		<string>葱油饼</string>
		<key>img</key>
		<string>http://s1.cdn.jiaonizuocai.com/caipu/201510/1811/181119578074.jpg/OTAweDYwMA</string>
		<key>favorites</key>
		<string>6753</string>
		<key>appurl</key>
		<string>dishInfo.app?code=78566252</string>
		<key>all_click</key>
		<string>201126</string>
	</dict>
	<dict>
		<key>name</key>
		<string>糖醋排骨</string>
		<key>img</key>
		<string>http://s1.cdn.jiaonizuocai.com/videoImg/201509/0722/55ed97982b6fc.JPG/OTAweDYwMA</string>
		<key>favorites</key>
		<string>34152</string>
		<key>appurl</key>
		<string>dishInfo.app?code=78625071</string>
		<key>all_click</key>
		<string>4027962</string>
	</dict>
	<dict>
		<key>name</key>
		<string>粉蒸肉</string>
		<key>img</key>
		<string>http://s1.cdn.jiaonizuocai.com/caipu/201511/0116/011621326794.jpg/OTAweDYwMA</string>
		<key>favorites</key>
		<string>7472</string>
		<key>appurl</key>
		<string>dishInfo.app?code=78761358</string>
		<key>all_click</key>
		<string>1015220</string>
	</dict>
	<dict>
		<key>name</key>
		<string>糖醋带鱼</string>
		<key>img</key>
		<string>http://s1.cdn.jiaonizuocai.com/caipu/201511/2209/220900508933.jpg/OTAweDYwMA</string>
		<key>favorites</key>
		<string>8065</string>
		<key>appurl</key>
		<string>dishInfo.app?code=79050537</string>
		<key>all_click</key>
		<string>320560</string>
	</dict>
	<dict>
		<key>name</key>
		<string>啤酒鸭</string>
		<key>img</key>
		<string>http://s1.cdn.jiaonizuocai.com/videoImg/201604/2818/5721ea6edbc62.JPG/OTAweDYwMA</string>
		<key>favorites</key>
		<string>14833</string>
		<key>appurl</key>
		<string>dishInfo.app?code=79078005</string>
		<key>all_click</key>
		<string>1436784</string>
	</dict>
	<dict>
		<key>name</key>
		<string>肉皮冻</string>
		<key>img</key>
		<string>http://s1.cdn.jiaonizuocai.com/caipu/201512/0409/040958126471.jpg/OTAweDYwMA</string>
		<key>favorites</key>
		<string>4519</string>
		<key>appurl</key>
		<string>dishInfo.app?code=79235635</string>
		<key>all_click</key>
		<string>132692</string>
	</dict>
	<dict>
		<key>name</key>
		<string>川味粉蒸排骨</string>
		<key>img</key>
		<string>http://s1.cdn.jiaonizuocai.com/caipu/201512/2916/291653165227.jpg/OTAweDYwMA</string>
		<key>favorites</key>
		<string>336</string>
		<key>appurl</key>
		<string>dishInfo.app?code=79661876</string>
		<key>all_click</key>
		<string>5807</string>
	</dict>
	<dict>
		<key>name</key>
		<string>青椒炒土豆片</string>
		<key>img</key>
		<string>http://s1.cdn.jiaonizuocai.com/caipu/201601/2019/201946477064.jpg/OTAweDYwMA</string>
		<key>favorites</key>
		<string>1820</string>
		<key>appurl</key>
		<string>dishInfo.app?code=80149810</string>
		<key>all_click</key>
		<string>45156</string>
	</dict>
</array>
</plist>
